# Ignore environment variables file
.env

# Ignore credential files
creds.json
creds.b64

# Ignore IDE configuration files (e.g., JetBrains IntelliJ IDEA)
.idea/

# Ignore virtual environment directory
.venv/

# Ignore Python cache files
__pycache__/

# Ignore any other potential sensitive files
*.log
*.sqlite3